$primary: #1aa35f;
$primary-hover: #1aa37e;

$attention: #d4ef4a;
$attention-hover: #e4ff4d;

$default: #000;
$default-hover: #414141;

$success: #485b79;
$success-hover: #2b3749;

$info: #0fc565;
$info-hover: #0c9f52;

$default-text: #000;
$white: #fff;
$light-grey: #e8e8e8;
$medium-grey: #adadad;
$dark-grey: #232323;
$black: #000;

$page-background: #ddd;
